In [1]:
library(dplyr)

Attaching package: ‘dplyr’


The following objects are masked from ‘package:stats’:

    filter, lag


The following objects are masked from ‘package:base’:

    intersect, setdiff, setequal, union

In [2]:
# Loading the data:
dat <- read.csv("data/femaleMiceWeights.csv")

In [6]:
# How to filter the data:
controls <- filter(dat, Diet=="chow")

In [9]:
# Selecting a specific data:
controls_dat <- unlist(select(controls, Bodyweight))

In [10]:
controls_dat

 Bodyweight1  Bodyweight2  Bodyweight3  Bodyweight4  Bodyweight5  Bodyweight6
       21.51        28.14        24.04        23.45        23.68        19.79
 Bodyweight7  Bodyweight8  Bodyweight9 Bodyweight10 Bodyweight11 Bodyweight12
       28.40        20.98        22.51        20.10        26.91        26.25

In [12]:
# Creating a pipeline:
filtered_data <- filter(dat, Diet=="chow") %>% select(Bodyweight) %>% unlist()

In [13]:
filtered_data

 Bodyweight1  Bodyweight2  Bodyweight3  Bodyweight4  Bodyweight5  Bodyweight6
       21.51        28.14        24.04        23.45        23.68        19.79
 Bodyweight7  Bodyweight8  Bodyweight9 Bodyweight10 Bodyweight11 Bodyweight12
       28.40        20.98        22.51        20.10        26.91        26.25

The pipeline passes the output of the first line to next line as the first argument. This is a shorthand way to write a nice function and will organize the code.

# Question 1:
Read the data and use the class function to determine the type of object returned.

In [15]:
# Getting the data:
library(downloader)
url="https://raw.githubusercontent.com/genomicsclass/dagdata/master/inst/extdata/msleep_ggplot2.csv"
filename <- "data/msleep_ggplots2.csv"
download(url,filename)

In [17]:
# Loading the data:
sleep_data <- read.csv(filename)

In [18]:
class(sleep_data)

[1] "data.frame"

# Question 2:
How many animals in the table are primates?

In [45]:
data <- filter(sleep_data, order=="Primates")

In [47]:
data

   name            genus         vore  order    conservation sleep_total
1  Owl monkey      Aotus         omni  Primates NA           17.0
2  Grivet          Cercopithecus omni  Primates lc           10.0
3  Patas monkey    Erythrocebus  omni  Primates lc           10.9
4  Galago          Galago        omni  Primates NA            9.8
5  Human           Homo          omni  Primates NA            8.0
6  Mongoose lemur  Lemur         herbi Primates vu            9.5
7  Macaque         Macaca        omni  Primates NA           10.1
8  Slow loris      Nyctibeus     carni Primates NA           11.0
9  Chimpanzee      Pan           omni  Primates NA            9.7
10 Baboon          Papio         omni  Primates NA            9.4
11 Potto           Perodicticus  omni  Primates lc           11.0
12 Squirrel monkey Saimiri       omni  Primates NA            9.6
   sleep_rem sleep_cycle awake brainwt bodywt
1  1.8              NA    7.0  0.0155   0.480
2  0.7              NA   14.0      NA   4.750
3  1.1              NA   13.1  0.1150  10.000
4  1.1       0.5500000   14.2  0.0050   0.200
5  1.9       1.5000000   16.0  1.3200  62.000
6  0.9              NA   14.5      NA   1.670
7  1.2       0.7500000   13.9  0.1790   6.800
8   NA              NA   13.0  0.0125   1.400
9  1.4       1.4166667   14.3  0.4400  52.200
10 1.0       0.6666667   14.6  0.1800  25.235
11  NA              NA   13.0      NA   1.100
12 1.4              NA   14.4  0.0200   0.743

In [49]:
select(data, sleep_total) %>% unlist() %>% mean()

[1] 10.5

In [51]:
filter(sleep_data, order=="Primates")

   name            genus         vore  order    conservation sleep_total
1  Owl monkey      Aotus         omni  Primates NA           17.0
2  Grivet          Cercopithecus omni  Primates lc           10.0
3  Patas monkey    Erythrocebus  omni  Primates lc           10.9
4  Galago          Galago        omni  Primates NA            9.8
5  Human           Homo          omni  Primates NA            8.0
6  Mongoose lemur  Lemur         herbi Primates vu            9.5
7  Macaque         Macaca        omni  Primates NA           10.1
8  Slow loris      Nyctibeus     carni Primates NA           11.0
9  Chimpanzee      Pan           omni  Primates NA            9.7
10 Baboon          Papio         omni  Primates NA            9.4
11 Potto           Perodicticus  omni  Primates lc           11.0
12 Squirrel monkey Saimiri       omni  Primates NA            9.6
   sleep_rem sleep_cycle awake brainwt bodywt
1  1.8              NA    7.0  0.0155   0.480
2  0.7              NA   14.0      NA   4.750
3  1.1              NA   13.1  0.1150  10.000
4  1.1       0.5500000   14.2  0.0050   0.200
5  1.9       1.5000000   16.0  1.3200  62.000
6  0.9              NA   14.5      NA   1.670
7  1.2       0.7500000   13.9  0.1790   6.800
8   NA              NA   13.0  0.0125   1.400
9  1.4       1.4166667   14.3  0.4400  52.200
10 1.0       0.6666667   14.6  0.1800  25.235
11  NA              NA   13.0      NA   1.100
12 1.4              NA   14.4  0.0200   0.743

In [52]:
?summarize

summarise                package:dplyr                 R Documentation

_S_u_m_m_a_r_i_s_e _e_a_c_h _g_r_o_u_p _d_o_w_n _t_o _o_n_e _r_o_w

_D_e_s_c_r_i_p_t_i_o_n:

     ‘summarise()’ creates a new data frame. It returns one row for
     each combination of grouping variables; if there are no grouping
     variables, the output will have a single row summarising all
     observations in the input. It will contain one column for each
     grouping variable and one column for each of the summary
     statistics that you have specified.

     ‘summarise()’ and ‘summarize()’ are synonyms.

_U_s_a_g_e:

     summarise(.data, ..., .by = NULL, .groups = NULL)

     summarize(.data, ..., .by = NULL, .groups = NULL)

_A_r_g_u_m_e_n_t_s:

   .data: A data frame, data frame extension (e.g. a tibble), or a lazy
          data frame (e.g. from dbplyr or dtplyr). See _Methods_,
          below, for more details.

     ...: <‘data-masking’> Name-value pairs of summary functions. The
          name will be the name of the variable in the result.

          The value can be:

            • A vector of length 1, e.g. ‘min(x)’, ‘n()’, or
              ‘sum(is.na(y))’.

            • A data frame, to add multiple columns from a single
              expression.

          *[Deprecated]* Returning values with size 0 or >1 was
          deprecated as of 1.1.0. Please use ‘reframe()’ for this
          instead.

     .by: *[Experimental]*

          <‘tidy-select’> Optionally, a selection of columns to group
          by for just this operation, functioning as an alternative to
          ‘group_by()’. For details and examples, see ?dplyr_by.

 .groups: *[Experimental]* Grouping structure of the result.

            • "drop_last": dropping the last level of grouping. This
              was the only supported option before version 1.0.0.

            • "drop": All levels of grouping are dropped.

            • "keep": Same grouping structure as ‘.data’.

            • "rowwise": Each row is its own group.

          When ‘.groups’ is not specified, it is chosen based on the
          number of rows of the results:

            • If all the results have 1 row, you get "drop_last".

            • If the number of rows varies, you get "keep" (note that
              returning a variable number of rows was deprecated in
              favor of ‘reframe()’, which also unconditionally drops
              all levels of grouping).

          In addition, a message informs you of that choice, unless the
          result is ungrouped, the option "dplyr.summarise.inform" is
          set to ‘FALSE’, or when ‘summarise()’ is called from a
          function in a package.

_V_a_l_u_e:

     An object _usually_ of the same type as ‘.data’.

        • The rows come from the underlying ‘group_keys()’.

        • The columns are a combination of the grouping keys and the
          summary expressions that you provide.

        • The grouping structure is controlled by the .groups=
          argument, the output may be another grouped_df, a tibble or a
          rowwise data frame.

        • Data frame attributes are *not* preserved, because
          ‘summarise()’ fundamentally creates a new data frame.

_U_s_e_f_u_l _f_u_n_c_t_i_o_n_s:

        • Center: ‘mean()’, ‘median()’

        • Spread: ‘sd()’, ‘IQR()’, ‘mad()’

        • Range: ‘min()’, ‘max()’,

        • Position: ‘first()’, ‘last()’, ‘nth()’,

        • Count: ‘n()’, ‘n_distinct()’

        • Logical: ‘any()’, ‘all()’

_B_a_c_k_e_n_d _v_a_r_i_a_t_i_o_n_s:

     The data frame backend supports creating a variable and using it
     in the same summary. This means that previously created summary
     variables can be further transformed or combined within the
     summary, as in ‘mutate()’. However, it also means that summary
     variables with the same names as previous variables overwrite
     them, making those variables unavailable to later summary
     variables.

     This behaviour may not be supported in other backends. To avoid
     unexpected results, consider using new names for your summary
     variables, especially when creating multiple summaries.

_M_e_t_h_o_d_s:

     This function is a *generic*, which means that packages can
     provide implementations (methods) for other classes. See the
     documentation of individual methods for extra arguments and
     differences in behaviour.

     The following methods are currently available in loaded packages:
     dplyr (‘data.frame’, ‘grouped_df’, ‘rowwise_df’).

_S_e_e _A_l_s_o:

     Other single table verbs: ‘arrange()’, ‘filter()’, ‘mutate()’,
     ‘reframe()’, ‘rename()’, ‘select()’, ‘slice()’

_E_x_a_m_p_l_e_s:

     # A summary applied to ungrouped tbl returns a single row
     mtcars %>%
       summarise(mean = mean(disp), n = n())

     # Usually, you'll want to group first
     mtcars %>%
       group_by(cyl) %>%
       summarise(mean = mean(disp), n = n())

     # Each summary call removes one grouping level (since that group
     # is now just a single row)
     mtcars %>%
       group_by(cyl, vs) %>%
       summarise(cyl_n = n()) %>%
       group_vars()

     # BEWARE: reusing variables may lead to unexpected results
     mtcars %>%
       group_by(cyl) %>%
       summarise(disp = mean(disp), sd = sd(disp))

     # Refer to column names stored as strings with the `.data` pronoun:
     var <- "mass"
     summarise(starwars, avg = mean(.data[[var]], na.rm = TRUE))
     # Learn more in ?rlang::args_data_masking

     # In dplyr 1.1.0, returning multiple rows per group was deprecated in favor
     # of `reframe()`, which never messages and always returns an ungrouped
     # result:
     mtcars %>%
        group_by(cyl) %>%
        summarise(qs = quantile(disp, c(0.25, 0.75)), prob = c(0.25, 0.75))
     # ->
     mtcars %>%
        group_by(cyl) %>%
        reframe(qs = quantile(disp, c(0.25, 0.75)), prob = c(0.25, 0.75))