In [1]:
import pandas as pd
from matplotlib import pyplot as plt

In [2]:
dat = pd.read_csv("./data/femaleMiceWeights.csv")
dat.head()

   Diet  Bodyweight
0  chow       21.51
1  chow       28.14
2  chow       24.04
3  chow       23.45
4  chow       23.68

In [3]:
dat

    Diet  Bodyweight
0   chow       21.51
1   chow       28.14
2   chow       24.04
3   chow       23.45
4   chow       23.68
5   chow       19.79
6   chow       28.40
7   chow       20.98
8   chow       22.51
9   chow       20.10
10  chow       26.91
11  chow       26.25
12    hf       25.71
13    hf       26.37
14    hf       22.80
15    hf       25.34
16    hf       24.97
17    hf       28.14
18    hf       29.58
19    hf       30.92
20    hf       34.02
21    hf       21.90
22    hf       31.53
23    hf       20.73

In [4]:
# Getting the average of each group:
control = dat.loc[dat['Diet'] == 'chow', 'Bodyweight'].to_numpy()
treatment = dat.loc[dat['Diet'] == 'hf', 'Bodyweight'].to_numpy()

In [5]:
# Printing the mean:
import numpy as np
print(np.mean(control), np.mean(treatment))

23.813333333333333 26.834166666666665

In [6]:
# Storing the observed difference:
obs_diff = np.abs(np.mean(control) - np.mean(treatment))
print(obs_diff)

3.020833333333332

From our original data, we could notice the variability in the data. Due to this, we will need to confirm our data using more statistical methods later.